

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>景點導覽</title>

</head>
<body id="background">
    <div style="height:100%; float: left; padding-left:15px;padding:2%">
        <div style="width:100% ; height:40%; margin:25px auto; ">
            <div id="choose">
                <p>
                    <button type="button" class='k-button' onclick='getView();'>景點</button>
                    <button type="button" class='k-button' onclick='getEat();'>美食</button>
                </p>
            </div>
            <div id="opendatagrid"></div>
        </div>
        <div style="height:60%;">
            <div id="Description" class="col-lg-6"></div>
            <div id="ViewImage" class="col-lg-6"></div>
        </div>
        <div id="window">
            <div id="googlemap" style="height:95%; width:90%; margin: 0 auto;"></div>
        </div>
        <div id="window2">
            <div id="Message">
                <div id="MessageGrid" style="display:none">
                    <textarea class="k-textbox" id="IntroText" style="height:20px; width:1000px ;  "></textarea>
                    <button type="button" class="k-button" onclick="CreateIntro()">送出</button>
                </div>
            </div>
        </div>


        <script type="text/javascript">
            var voicecontrol = 0;

            $(document).ready(function () {
                $("#example").show();
                var template = kendo.template("<button class='k-button' onclick='getopendata(\"${ Id }\",1);' style='display: block; margin: 0 auto;'>導覽</button>");
                var url = "http://data.kaohsiung.gov.tw/Opendata/DownLoad.aspx?Type=2&CaseNo1=AV&CaseNo2=1&FileType=1&Lang=C&FolderType=";
                CreateKendoGrid(url, template);
            });

            function getView() {
                var template = kendo.template("<button class='k-button' onclick='getopendata(\"${ Id }\",1);' style='display: block; margin: 0 auto;'>導覽</button>");
                var url = "http://data.kaohsiung.gov.tw/Opendata/DownLoad.aspx?Type=2&CaseNo1=AV&CaseNo2=1&FileType=1&Lang=C&FolderType=";
                CreateKendoGrid(url, template);
            }

            function getEat() {
                var template = kendo.template("<button class='k-button' onclick='getopendata(\"${ Id }\",2);' style='display: block; margin: 0 auto;'>導覽</button>");
                var url = "http://data.kaohsiung.gov.tw/Opendata/DownLoad.aspx?Type=2&CaseNo1=AV&CaseNo2=2&FileType=1&Lang=C&FolderType=O";
                CreateKendoGrid(url, template);
            }

            function getopendata(data, kind) {
                document.getElementById("ViewImage").innerHTML = "";
                if (kind == 1) {
                    $.ajax(
                    {
                        url: "http://data.kaohsiung.gov.tw/Opendata/DownLoad.aspx?Type=2&CaseNo1=AV&CaseNo2=1&FileType=1&Lang=C&FolderType=",
                        type: "GET",
                        datatype: "json",
                        success: function (result) {
                            var jsondata = JSON.parse(result);
                            for (var a = 0; a < jsondata.length; a++) {
                                if (jsondata[a].Id == data) {
                                    document.getElementById("Description").innerHTML = "<div id='p'><h2 style='color:#0000C6;'><b>" + jsondata[a].Name + "</b></h2><br/><p style='color:#000000'>" + jsondata[a].Description + "</p></div><br/><div><button type='button' class='k-button' id='voice' onclick='Voice(\"" + jsondata[a].Description.replace(/\"/g, "") + "\")'>語音</button></div><div><hr><div id='p' ><p style='color:#000000'>電話：" + jsondata[a].Tel + "<br/>地址：" + jsondata[a].Add +
                                                                                        "<br/>開放時間：" + jsondata[a].Opentime + "<br/>票價資訊：" + jsondata[a].Ticketinfo + "</p></div>";
                                    document.getElementById("ViewImage").innerHTML = "<div id='img' style='background-image:url(" + jsondata[a].Picture1 + ");background-size:100% 100%; background-repeat:no-repeat;'></div>"
                                    document.getElementById("ViewImage").innerHTML += "<button type='button' class='k-button' id='map' onclick = 'ShowLocalMap(" + jsondata[a].Py + "," + jsondata[a].Px + ")'>查看地點</button>";
                                    document.getElementById("ViewImage").innerHTML += "<button type='button' class='k-button' id='message' onclick='ShowMessage(\"" + jsondata[a].Id + "\")'>留言</button>";

                                }
                            }
                        }
                    });
                }
                else if (kind == 2) {
                    $.ajax(
                    {
                        url: "http://data.kaohsiung.gov.tw/Opendata/DownLoad.aspx?Type=2&CaseNo1=AV&CaseNo2=2&FileType=1&Lang=C&FolderType=O",
                        type: "GET",
                        datatype: "json",
                        success: function (result) {
                            var jsondata = JSON.parse(result);
                            for (var a = 0; a < jsondata.length; a++) {
                                if (jsondata[a].Id == data) {
                                    document.getElementById("Description").innerHTML = "<div id='p'><h2 style='color:#0000C6;'><b>" + jsondata[a].Name + "</b></h2><br/><p style='color:#000000'>" + jsondata[a].Description + "</p></div><br/><div><button type='button' class='k-button' id='voice' onclick='Voice(\"" + jsondata[a].Description.replace(/\"/g, "") + "\")'>語音</button></div><hr><div id='p' ><p style='color:#000000'>電話：" + jsondata[a].Tel + "<br/>地址：" + jsondata[a].Add +
                                                                                        "<br/>開放時間：" + jsondata[a].Opentime + "</p></div>";
                                    document.getElementById("ViewImage").innerHTML = "<div id='img' style='background-image:url(" + jsondata[a].Picture1 + ");background-size:100% 100%; background-repeat:no-repeat;'></div>"
                                    document.getElementById("ViewImage").innerHTML += "<button type='button' class='k-button' id='map' onclick = 'ShowLocalMap(" + jsondata[a].Py + "," + jsondata[a].Px + ")'>查看地點</button>";
                                    document.getElementById("ViewImage").innerHTML += "<button type='button' class='k-button' id='message' onclick = 'ShowMessage(\"" + jsondata[a].Id + "\")' >留言</button>";
                                }
                            }
                        }
                    });
                }
            }

            function ShowLocalMap(lat, lon, name) {
                $("#map").fadeOut();
                $("#window").kendoWindow({
                    height: "70%",
                    width: "80%",
                    title: "Google Map 標示",
                    visible: false,
                    actions: [
                        "Pin",
                        "Minimize",
                        "Maximize",
                        "Close"
                    ],
                    close: onClose
                }).data("kendoWindow").center().open();
                var localname = name;
                var mapholder = document.getElementById("googlemap")
                var mapProp = {
                    center: new google.maps.LatLng(lat, lon),
                    zoom: 18,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                var map = new google.maps.Map(mapholder, mapProp);

                //create target
                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(lat, lon),
                });

                marker.setMap(map);
                //click appear infowindow
                var infowindow = new google.maps.InfoWindow({
                    content: localname
                });

                google.maps.event.addListener(marker, 'click', function () {
                    infowindow.open(map, marker);
                });

            }

            function onClose() {
                $("#map").fadeIn();
                $("#message").fadeIn();
            }

            function Voice(des) {
                if (voicecontrol == 0) {
                    $.ajax({
                        type: "POST",
                        url: "/../OpendataView/GetVoice",
                        data: "des=" + des,
                        dataType: "json"
                    });
                    voicecontrol++;
                }
                else {
                    console.log(voicecontrol);
                    $.ajax({
                        type: "POST",
                        url: "/../OpendataView/GetVoice",
                        data: "des=0",
                        dataType: "json"
                    });
                    voicecontrol--;
                }

            }
            function ShowMessage(data) {
                sessionStorage.setItem('localid', data);
                document.getElementById('MessageGrid').style.display = '';
                $("#message").fadeOut();
                $("#window2").kendoWindow({
                    height: "70%",
                    width: "80%",
                    title: "留言",
                    visible: false,
                    actions: [
                        "Pin",
                        "Minimize",
                        "Maximize",
                        "Close"
                    ],
                    close: onClose
                }).data("kendoWindow").center().open();
                $("#MessageGrid").kendoGrid({

                    sortable: true,
                    filterable: true,
                    height: "75%",
                    pageable: true,
                    dataSource: {
                        transport: {
                            read: {
                                type: "Post",
                                url: "/../OpendataView/GetIntro",
                                data: { "LocalId": data },
                                dataType: "json"
                            }
                        },

                        pageSizes: 20,
                        serverPaging: true,
                        serverSorting: true
                    },
                    columns: [
                            { field: "UserName", title: "留言者" },
                            { field: "IntroDetail", title: "內容" },
                    ]
                });
            }

            function CreateIntro() {
                var text = document.getElementById("IntroText").value.replace(/\n/g, "<br />");
                document.getElementById("IntroText").value = "";
                var localid = sessionStorage.getItem('localid');
                var userid = sessionStorage.getItem('userid');
                var Intro = {
                    UserId: userid,
                    LocalId: localid,
                    IntroDetail: text
                }
                if (text != "" && text != null) {
                    $.ajax({
                        type: "POST",
                        url: "/../OpendataView/CreateIntro",
                        contentType: "application/json;charset=utf-8",
                        data: JSON.stringify(Intro),
                        dataType: "json",
                        success: function (response) {
                            ShowMessage(localid);
                        }
                    });
                }
            }
            function CreateKendoGrid(url, template) {
                $("#opendatagrid").kendoGrid({
                    sortable: true,
                    scrollable: true,
                    filterable: {
                        mode: "row"
                    },
                    columnMenu: true,
                    serverPaging: true,
                    serverFiltering: true,
                    height: "75%",
                    mobile: true,
                    pageable: {
                        pageSizes: 9
                    },
                    dataSource: {
                        transport: {
                            read: {
                                url: url,
                                dataType: "Json"
                            }
                        }
                    },
                    columns: [
                        {
                            field: "Name",
                            title: " ",
                            width: "70%",
                            headerAttributes: { "class": "table-header-cell", style: "text-align: center; font-size: 14px" },
                            attributes: { style: "text-align: center; font-size: 14px" },
                            filterable: {
                                cell: {
                                    operator: "Contains"
                                }
                            }
                        },
                        { template: template }
                    ]

                });
            }

        </script>

        <style>
            html,
            body {
                margin: 0;
                padding: 0;
                height: 100%;
                min-height: 100%;
                line-height: 30px;
            }

            #Description {
                text-align: center;
            }

            #ViewImage {
                height: 100%;
                text-align: center;
            }

            #p {
                width: 100%;
                min-width: 120px;
                display: inline-block;
                text-align: center;
                margin: 0px auto;
                font-size: 14pt;
                font-family: Microsoft JhengHei;
            }

            hr {
                border: 0;
                height: 1px;
                background-color: 	#000000;
                color: 	#000000; /* IE6 */
            }

            #img {
                width: 90%;
                height: 85%;
                margin: 30px auto;
                border: none;
            }
        </style>
    </div>
</body>
</html>
